.projectbigdiv {
    /* height: 400px; */
    /* background-image: url("furniture.png"); */
    z-index: -1;
}
.projectcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.bannerimagebig {
    width: 60%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 20px; */
}
.bannerimagesmall {
    width: 50%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 20px; */
}
.projecthead {
    position: absolute;
    bottom: 10%;
    left:8%;
    font-size: 75px;
    font-weight: bolder;
}
.projectheadhover {
    position: absolute;
    bottom:2%;
    right:-22%;
    font-size:20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 10px; /* Optional spacing between items */
}

@media screen and (max-width: 800px){
    .projectcontainer {

    }
    .bannerimagebig {
        height: 70vh;
        display: none;
    }
    .bannerimagesmall {

    }
    .projecthead {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px){
    .bannerimagebig {
        height: 70vh;
        display: none;
    }
    .bannerimagesmall {

    }
}