* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroud-primary: #E9E7E4;
    /* --backgroud-primary:#1A1A1A; */
    /* --secondary-color: #FFA400; */
    --secondary-color: #926139;
    /* --secondary-color: #363435; */
    /* --text-color:#4D4D4D; */
    --text-color: #141414;
    --text-color-light:#EBE8E5;
    /* --text-color:#E5E5E5; */
    --background-dark: #0A0A0A;
}

body {
    /* overflow-x: hidden; */
    color: var(--text-color);
    background-color: var(--backgroud-primary);
}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}
/* Navabar CSS */

nav {
    position: fixed;
    /* Fixed positioning keeps it in place while scrolling */
    top: 0;
    left: 0;
    height: 5rem;
    width: 100vw;
    /* background-color: var(--backgroud-primary); */
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
    display: flex;
    z-index: 20000;
    color: var(--text-color);
    position: relative;
}



.maincontainer{
  padding-top: 5rem;
}

/*Styling logo*/
.logo {
    text-align: center;
    width: 20%;
    height: 4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 20000;
    left:50%;
    padding-top: 1vh;
    transform: translate(-20%,0);
    /* backdrop-filter: blur(20px);  */
}


/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;

}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: var(--text-color);

}

.nav-links li a:hover {
    color: var(--secondary-color);
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    /* background-color: #61DAFB; */
    position: absolute;
    transition: all ease-in 100ms;
    margin: 0 0 0 10%;
}

.loadingdiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingdiv svg {
    width:20%;
    height: 20%;
}
.nav-links li a:hover::before {
    width: 80%;
}

/*Styling Buttons*/
/* .login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
} */


/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--text-color);
    margin: 5px;
    transition: all 0.5s ease;
}

.menu {
    position: absolute;
    right: 2.5%;
    top: 27%;
    font-size: 15px;
    font-weight: bolder;
    margin-right: -6px;
    padding-left: 3px;
    background-color: #FFFFFF;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px*/;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; 
    --c: var(--secondary-color);
    color: var(--background-dark);
    letter-spacing: 0.1em;
    text-align: center;
    /* line-height: 3em; */
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    /* margin: 1em; */
}

.menu span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.menu:hover {
    color:var(--backgroud-primary);
}

.menu:hover span{
    transform: translateY(0) scale(2);
}

.menu span:nth-child(1) {
    --n: 1;
}
.menu span:nth-child(2) {
    --n: 2;
}
.menu span:nth-child(3) {
    --n: 3;
}
.menu span:nth-child(4) {
    --n: 4;
}

/*Stying for small screens*/
/* @media screen and (max-width: 800px){ */
nav {
    position: fixed;
    z-index: 20000;
}

.hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 20000;
    transition: all 0.7s ease;
    background-color: var(--backgroud-primary);
    padding: 2px;
}

.nav-links {
    position: fixed;
    background: var(--backgroud-primary);
    height: 100vh;
    width: 30%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    font-size: 40px;
    font-weight: 600;
    right:0px;
}

.nav-links.open {
    clip-path: circle(2000px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
}

.nav-links li {
    opacity: 0;
}

li.fade {
    opacity: 1;
}

/* .logo{
        width: 50%;
    } */

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transition: all 0.7s ease;
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transition: all 0.7s ease;
    transform: rotate(45deg) translate(-5px, -6px);
}

.warrapcontainer {
    margin: 4rem;
}


/* back to top css */

.Totop {
    color: var(--secondary-color);
    margin: "0 auto";
}


.navdiv .navbg {
    background-color: var(--backgroud-primary);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.imagecarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.imagecontainer1,
.imagecontainer2 {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.prebtn,
.nextbtn {
    border: none;
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    cursor: url("/uploads/media/default/0001/02/53f34c2d574ce31a424df7855ef3e8f2ece589d6.png"), auto;
}

.nextbtn {
    right: 0;
}

.nextbtn p,
.prebtn p {
    cursor: url("/uploads/media/default/0001/02/53f34c2d574ce31a424df7855ef3e8f2ece589d6.png"), auto;
}

.carouselcontainer {
    width: 100%;
    height: 90%;
    display: flex;
    /* justify-content: center; */
}

.carouselcontainer .leftimage {
    width: 50%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carouselcontainer .rightimage {
    /* position: relative;   */
    width: 50%;
    height: 80%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.imageclass {
    object-fit: cover;
}

.bannerimagebig {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 20px; */
}

.bannerimagesmall {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 20px; */
}

hr {
    background-color: #ddd; /* Change color as needed */
    height: 2px; /* Set the height explicitly */
    margin: 10px 0;
}


.abouttext1 {
    font-size: large;
    text-align: justify;
}
@media screen and (max-width: 857px) {
    .nav-links {
        width:100%;
        font-size: 25px;
        font-weight: bold;
    }
    .warrapcontainer{
        margin: 2rem;
        margin-top: 4.5rem;
    }
    .loadingdiv svg {
        width:80%;
        height: 30%;
    }
}
@media screen and (max-width: 600px) {
    .menu {
        top: 26%;
        right: 4%;
    }


    .Totop {
        position: absolute;
        bottom:2.5%!important;
        right: 5%!important; 
        /* margin: -10px; */
    }
    .logo {
        width: 60%;
    }
}

/* COntact US*/
  input {
    font-weight: 700;
    letter-spacing: 1.4px;
    color:var(--background-dark);
  }
  
  .app-form-group {
    margin-bottom: 20px;
  }

  .app-form-group.message {
    margin-top: 40px;
    color:var(--background-dark);
    font-weight: 600;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color:var(--background-dark);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color:var(--background-dark);
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .formcontainer {  
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 40px;
  }
  .app-form{
    width: 80%;
    padding: 10px;
  }
  .contact {
    height:100vh;
  }
  .contactpage{
    background-color: var(--backgroud-primary);
    /* border: 1px solid var(--background-dark); */
  }
  .contactus {
    font-size: 4rem;
    font-weight: bolder;
    /* text-align: center; */
    padding-top: 3%;
    padding-left: 13%;
  }
  .imageclass{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  .app-form-button2 {
    padding: 10px;
    font-weight: 900;
    width: 100%;
    padding: 0.7em 3em;
    border: 2px solid var(--background-dark);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--background-dark);
  }

.app-form-button2::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--secondary-color);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.app-form-button2 :hover::before {
    width: 105%;
}

.app-form-button2:hover {
    color: var(--backgroud-primary);
    background: var(--secondary-color);
} 
.app-form-button1{
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
  @media screen and (max-width: 1050px) {
    .contactus{
        font-size: 2.5rem;
        /* text-align: center; */
        margin: 0px;
        padding-left: 70px;
    }
  } 
  @media screen and (max-width: 852px) { 
    .contactus {
        text-align: center;
        font-size: 3rem;
        font-weight: bolder;
        padding: 0;
    }
    .contact {
        height:80vh;
        /* margin-top: -4.5vh; */
    }
  }
  @media screen and (max-width: 600px) {
    .contact {
        height:52vh;
        /* margin-top: -4.5vh; */
    }
    .formcontainer {   
        padding:0px
    }
    .app-form{
        margin-top: 10px;
        width: 80%;
    }
    .contactus {
        font-size: 2rem;
    }
  }
  @media screen and (max-width: 400px) {
    .contact {
        height:420px;
        /* margin-top: -4.5vh; */
    }
  }

  

  /* Home carousel Images */
  /* .carousel {
    display: flex;
    height: 90vh;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: center;
  } */
  .carouselleft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set image width to 100% of container */
    height: 100%;
  }
  .carouselright{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
  .carouselright .carousel{
    height: 74vh;
    width: 80%;
    padding: 60px;
  }
  .carouselleft .carousel1{
    width: 100%; /* Set image width to 100% of container */
    height: 100%; /* Set image height to 100% of container */
    object-fit: cover;
  }
  /* .carousel {
    display: flex;
    height: 400px;
    width: 100%;
    max-width: 800px;
  } */
  
  .carousel_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  
  .carousel_card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    /* transform: translateX(-100%); */
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    /* animation-fill-mode: forwards; */
  }
  .carousel_card-active {
    opacity: 1;
    /* transform: translateX(0%); */
    /* pointer-events: visible; */
  }

  .card_image {
    width: 100%;
    object-fit: cover;
  }
  
  .card_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 40px 30px;
    align-items: flex-end;
  }
  
  .card_title {
    color: white;
    font-size: 30px;
  }
  .carouselcontainer{
    position: relative;
  }
  .carousel_arrow_left,
  .carousel_arrow_right {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-bottom: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

.carousel_arrow_left:hover{
    scale: 1.05;
}

.carousel_arrow_right:hover{
    scale: 1.05;
}
  .carousel_arrow_right
  .carousel_arrow_left {
    left: 15px;
  }
  
  .carousel_arrow_right {
    right: 15px;
  }
  
  .carousel_pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .pagination_dot {
    height: 10px;
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  
.pagination_dot:hover {
    transform: scale(1.2);
}
  
.pagination_dot-active {
   background-color: steelblue;
}

.imagetextcontainer1{
    position: absolute;
    bottom: 2.5%;
    left:55%;
    text-align: left;
    font-weight: 800;
    font-size: 80px;
    color: var(--backgroud-primary);
}
.imagetextcontainer2{
    display: none;
    text-align: left;
    font-weight: 800;
    color: var(--backgroud-primary);
}
  @media screen and (max-width:750px) {
    .carouselright .carousel{
        height: 60vh;
        width: 100%;
        padding: 0px;
    }
  }

  @media screen and (max-width:600px) {
    .carousel_arrow_left,
    .carousel_arrow_right {
      top:95%; 
    }
    .imagetextcontainer1{
        display: none;
    }
    .imagetextcontainer2{
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top:93%;
    }
    .carouselleft {
      display: none;
    }
  }
.footerlogo{
  margin-top: 20px;
}